html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  line-height: 1;
  font-family: "Rubik", sans-serif;
  color: #4f5665;
  font-weight: 400;
  background-color: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 13px 45px;
  line-height: 1;
  font-size: 16px;
  border-radius: 40px;
  font-weight: 700;
  outline: none;
}
.btn--primary {
  background-color: rgb(245, 56, 56);
  color: #fff;
  border: none;
}
.btn--outline {
  background-color: transparent;
  color: rgb(245, 56, 56);
  border: 1px solid rgb(245, 56, 56);
}
.btn--large {
  border-radius: 10px;
  padding: 17px 65px;
  position: relative;
}
.btn--large::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  left: 50%;
  bottom: -40%;
  transform: translateX(-50%);
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(20px);
  border-radius: 10px;
  z-index: -99;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0b132a;
  font-weight: bold;
}

.heading-text {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.desc-text {
  font-size: 16px;
  color: #4f5665;
  line-height: 1.875;
}

.heading {
  padding-top: 50px;
  padding-bottom: 90px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
  list-style: none;
}
.menu-link {
  font-size: 1.6rem;
  color: inherit;
  position: relative;
  transition: color 0.2s linear;
}
.menu-link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: auto;
  right: 0;
  width: 0;
  height: 3px;
  background-color: rgb(245, 56, 56);
  transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu-link:hover {
  color: rgb(245, 56, 56);
}
.menu-link:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.heading-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.heading-btn-signin {
  color: #0b132a;
  font-weight: 700;
  background-color: #fff;
  border: none;
  font-size: 1.6rem;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 0 40px;
  position: relative;
  margin-bottom: 120px;
}

.hero-content {
  max-width: 555px;
}
.hero-content-heading {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  color: #0b132a;
  margin-bottom: 20px;
}
.hero-content-heading strong {
  font-weight: 700;
}
.hero-content-info {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.875;
  margin-bottom: 50px;
}
.hero-content-info strong {
  font-weight: 700;
}

.hero-image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(40px, -50%);
}

.info {
  margin-bottom: 100px;
}
.info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 180px);
  box-shadow: 0 42px 60px rgba(13, 16, 37, 0.0784313725);
}
.info-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
  position: relative;
}
.info-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  height: 100px;
  width: 1px;
  border-right: 1px solid #EEEFF2;
}
.info-wrap:nth-child(3)::before {
  content: "";
  width: 0;
  height: 0;
}
.info-quantity .number {
  text-align: center;
  font-size: 24px;
  line-height: 1.4166666667;
  color: #0b132a;
  font-weight: 700;
  margin-bottom: 5px;
}
.info-quantity .user {
  text-align: center;
  font-size: 20px;
  line-height: 30/20;
}

.illustration {
  margin-bottom: 130px;
}
.illustration-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 170px;
  position: relative;
}
.illustration-content {
  position: absolute;
  right: 0;
  top: 34px;
  width: calc(50% - 110px);
  transform: translateX(12px);
}
.illustration-img {
  transform: translateX(50px);
}
.illustration-heading {
  max-width: 400px;
}
.illustration-desc {
  margin-bottom: 23px;
}
.illustration-list {
  list-style: none;
  padding-left: 0;
}
.illustration-items {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 14px;
  margin-bottom: 21px;
}
.illustration-items img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=app.css.map */